*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate/
*/Saved
BuildingEscape/Content/StarterContent/Textures
BuildingEscape/Content/StarterContent/HDRI
*.VC.db
*.suo
BuildingEscape/BuildingEscape.VC.VC.opendb
